.graph-container {
    margin: auto;
}
.graph {
    background-color: rgb(240, 240, 240);
    margin: 10px auto;
}

.label-select {
    font-size: 16px;;
    margin-right: 10px;
    font-weight: bold;
}