<div>
    <mat-form-field class="options-select">
        <mat-select (selectionChange)="detectSelect($event)" [placeholder]="'Seleccione indicador'">
            <mat-option *ngFor="let op of selectOptions" [value]="op.value">{{ op.label }}</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="graph" *ngIf="dataLoaded">
        <canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins">        
        </canvas>
    </div>
    <div *ngIf="!dataLoaded">
        <h3>Seleccione un indicador para cargar grafico</h3>
    </div>
</div>
